<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Create Account</title>
  <link th:href="@{/css/register.css}" rel="stylesheet"/>
</head>

<body>
  <header>
    <h1>Create Account</h1>
  </header>
  <div class="container">
    <div class="image-section">
      <img src="../image/camara.png" alt="Camera" />
    </div>

    <main>
      <form th:action="@{/register}" th:object="${pelanggan}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" th:field="*{username}" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" th:field="*{password}" required />

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required />

        <label for="nama">Name:</label>
        <input type="text" id="nama" name="nama" th:field="*{nama}" required />

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:field="*{email}" required />

        <label for="noTelp">Phone Number:</label>
        <input type="tel" id="noTelp" name="noTelp" th:field="*{noTelp}" required />

        <button class="submit_btn" type="submit">Create Account</button>
      </form>
    </main>
  </div>

  <div id="message" th:if="${error}" th:text="${error}"></div>

</body>

</html>