<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieMate - Login</title>
    <link th:href="@{/css/login.css}" rel="stylesheet"/>
</head>
<body>
    <video autoplay muted loop id="myVideo">
        <source th:src="@{/video/bgPartikel.mp4}" type="video/mp4">
    </video>
    
    <div class="login-container">
        <h2 class="login-title">Admin Login</h2>
        <div th:if="${error}" class="error-message" style="display: block; color: red;">
            <p th:text="${error}"></p>
        </div>
        <form class="login-form" th:action="@{/loginadmin}" method="post">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="login-btn">Login</button>
        </form>
    </div>
</body>
</html>